.cart {
    margin-left: var(--main-offset);
    display: flex;
    align-items: center;

    &__text {
        color: var(--color-white);
        font-size: 14px;
        font-weight: 300;
    }

    &__btn {
        display: flex;
        align-items: center;
        position: relative;
        svg {
            display: block;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            object-fit: cover;
        }
    }

    &__count {
        position: absolute;
        bottom: -7px;
        right: -9px;
        color: var(--color-white);
        background-color: var(--color-accent);
        font: var(--font-book-16);
        height: 16px;
        min-width: 16px;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
}
