.cart {
    margin-left: var(--main-offset);
    display: flex;
    align-items: center;
    position: relative;

    @media (max-width: 1110px) {
        flex-direction: column;
    }

    &.active .cart-modal {
        display: block;
        @media (max-width: 1110px) {
            margin-bottom: 30px;
        }
    }

    &.active .cart__text::before {
        width: 100%;
    }

    &__text {
        color: var(--color-white);
        font-size: 14px;
        font-weight: 300;
        padding: 2px 0;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            @include center-x;
            width: 0;
            height: 1px;
            transition: .2s ease-in-out;
            background-color: var(--color-white);
        }
        @media (max-width: 1110px) {
            color: var(--color-white);
            font-size: 60px;
        }
        @media (max-width: 786px) {
            font-size: 50px;
        }
        @media (max-width: 650px) {
            font-size: 35px;
        }
        @media (max-width: 400px) {
            font-size: 28px;
        }
    }



    &__btn {
        display: flex;
        align-items: center;
        position: relative;

        @media (max-width: 1110px) {
            margin: 0 auto;
        }

        svg {
            display: block;
            width: 20px;
            height: 20px;
            margin-left: 10px;
            object-fit: cover;
            @media (max-width: 1110px) {
                display: none;
            }
        }
        &:hover .cart__text::before {
            width: 100%;
        }
    }

    &__count {
        position: absolute;
        bottom: -7px;
        right: -9px;
        color: var(--color-white);
        background-color: var(--color-accent);
        font: var(--font-book-16);
        height: 16px;
        min-width: 16px;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 1110px) {
            display: none;
        }
    }
    &-modal {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;

        @media (max-width: 1110px) {
            position: relative;
        }

        &__list {
            max-height: 325px;
            overflow-y: auto;
            box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25);
        }
        &__item {
            display: flex;
            align-items: center;
            background-color: var(--color-white);
            padding: var(--small-offset) var(--second-offset);
        }

    }

    &-item {
        min-width: 480px;
        transition: .2s linear;
        &:hover {
            background-color: #F5F7FC;
        }
        &__img-wrap {
            min-height: 100px;
            display: flex;
            align-items: center;
        }
        &__img {
            min-width: 100px;
            max-height: 100px;
            margin-right: var(--small-offset);
        }
        &__delete {
            width: 40px;
            height: 40px;
            margin-left: auto;
            padding: 10px;
            svg {
                width: 20px;
                height: 100%;
            }
            &:hover {
                svg {
                    opacity: .7;
                }
            }
        }
        &__content {
            max-width: 268px;
        }
        &__title {
            font: var(--font-book-14);
            color: var(--color-matterhorn);
            margin-bottom: var(--second-offset);
        }
        &__price {
            font: var(--font-bold-20);
            color: var(--color-matterhorn);
        }
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--second-offset);
        background-color: var(--color-white);
        box-shadow: 0px -4px 10px rgba(0, 13, 84, 0.1);
        &__res {
            display: block;
            font: var(--font-book-14);
            color: var(--color-matterhorn);
        }
        &__price {
            display: block;
            color: var(--color-matterhorn);
            font: var(--font-bold-20);
            margin-top: var(--small-offset);
        }
        &__btn {
            padding: 17px 47px;
        }
    }
}
