.catalog {
    &__inner {
        padding: 60px 15px;
        @media (max-width: 500px) {
            padding: 40px 15px;
        }
    }
    &__title {
        margin-bottom: 40px;
    }
    &__filter {
        grid-column: 3 span;
        @media (max-width: 1100px) {
            grid-column: 4 span;
        }
        @media (max-width: 930px) {
            grid-column: 12 span;
        }
    }
    &__items {
        grid-column: 9 span;
        margin-top: 67px;
        @media (max-width: 1100px) {
            grid-column: 8 span;
        }
        @media (max-width: 930px) {
            grid-column: 12 span;
        }
        @media (max-width: 930px) {
            margin-top: var(--second-offset);
        }
        &-grid {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            gap: var(--grid-gap);

            @media (max-width: 1200px) {
                grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
            }
            // @media (max-width: 800px) {
            //     grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
            // }
        }

    }
    &-list {
        &__item {
            grid-column: 3 span;
            @media (max-width: 1200px) {
                grid-column: 1 span;
            }
            @media (max-width: 600px) {
                grid-column: 2 span;
            }
        }
    }
}

.catalog-filter {
    &__inputs {
        display: flex;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 34px;
            width: 1px;
            @include center-xy;
            background-color: var(--color-gray);
        }
    }
    &__input:first-child {
        border: 1px solid var(--color-gray);
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        @media (max-width: 930px) {
            width: 100%;
        }
    }
    &__input:last-child {
        border: 1px solid var(--color-gray);
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        @media (max-width: 930px) {
            width: 100%;
        }
    }
    &__input {
        max-width: 50%;
        background-color: transparent;
        padding: 17px 5px;
        border-radius: var(--border-radius);
    }
}

.catalog-items {
    @media (max-width: 500px) {
        margin-top: 0;
    }
    &__btn-wrap {
        display: flex;
        justify-content: center;
    }
    &__btn {
        margin: 60px auto 0;
    }
}
