.catalog {
    &-filter {
        &__title {
            font: var(--font-book-24);
            margin-bottom: var(--second-offset);
        }
        &__inner {
            padding: var(--second-offset);
            background-color: var(--color-seashell-peach);
            @media (max-width: 930px) {
                max-width: 500px;
                margin: 0 auto;
                padding: 40px 80px;
            }
            @media (max-width: 450px) {
                padding: 20px 30px;
            }
            @media (max-width: 360px) {
                padding: 20px;
            }
        }
        &__cost,
        &__size,
        &__gender {
            margin-bottom: var(--second-offset);
        }
    }
    &__btn-apply {
        margin-top: var(--second-offset);
        width: 100%;
        padding: 22px 0;
    }
    &__btn-reset {
        margin-top: var(--second-offset);
        color: var(--color-river-bed);
    }
    &__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.filter-gender {
    &__labels {
        display: flex;
        justify-content: space-between;
        @media (max-width: 500px) {
            justify-content: space-around;
        }
    }
    &__label {

    }
}

.filter-size {
    &__table {
        font: var(--font-book-16);
        border-collapse: collapse;
        user-select: none;
        margin: 0 auto;
        td {
            border: 1px solid var(--color-cameo);
            width: 80px;
            height: 57px;
            text-align: center;
            cursor: pointer;
            transition: .2s ease-in;
            &:hover {
                background-color: var(--color-cameo);
                color: var(--color-white);
            }
        }
    }
}

.filter-caption {
    margin-bottom: 10px;
    display: inline-block;
    font: var(--font-book-16);
}

.noUi-horizontal .noUi-handle {
    width: 10px;
    right: -5px;
    top: -11px;
    background-color: var(--color-river-bed);
    opacity: 1;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

.noUi-target {
    box-shadow: none;
    border: none;
}

.noUi-horizontal {
    height: 9px;
    background-color: var(--color-river-bed);
    cursor: pointer;
}

.noUi-connect {
    background-color: var(--color-river-bed);
}

.noUi-handle:after, .noUi-handle:before {
    visibility: hidden;
}
