.nav {
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        &:not(:last-child) {
            margin-right: var(--main-offset);
        }
    }

    &__link {
        font: var(--font-book-16);
        color: var(--color-white);
        font-size: 14px;
    }
}
