.quiz {
    padding: var(--big-offset) 0;
    &__content {
        padding: var(--main-offset) 100px;
        border-radius: var(--border-radius);
        background-color: var(--color-seashell-peach);
    }

    &__title {
        margin-bottom: var(--second-offset);
        font: var(--font-bold-30-30);
    }

    &__descr {
        font: var(--font-book-16-16);
        color: var(--color-jumbo);
        border-bottom: 1px solid currentColor;
        padding-bottom: var(--small-offset);
    }

    &-label__bottom {
        display: flex;
        align-items: center;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-form__last {
        margin-top: var(--second-offset);
        border-radius: var(--border-radius);
        background-color: var(--color-cameo);
        display: none;
        padding: var(--main-offset);
    }
}

.quiz-last {
    &__title {
        font: var(--font-bold-36);
        color: var(--color-white);
        margin-bottom: var(--small-offset);
    }
    &__descr {
        color: var(--color-white);
        font: var(--font-book-16);
    }
    &__inputs {
        margin-top: var(--small-offset);
    }
    &__input {
        padding: var(--second-offset);
        border-radius: var(--border-radius);
        border: none;
        display: block;
        width: 500px;
        &::placeholder {
            color: var(--color-gray);
            font: var(--font-book-16);
        }
    }
    &__input + &__input {
        margin-top: var(--small-offset);
    }

    &__btn {
        margin-top: var(--small-offset);
        padding: 22px 73px;
    }
}


.quiz-questions {
    padding: var(--second-offset) 0;
}

.quiz-question {
    &__label {
        display: block;
    }
    &__title {
        font: var(--font-book-24);
        color: var(--color-river-bed);
        margin-bottom: var(--second-offset);
    }
    &__answers {
        grid-auto-rows : 155px;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--second-offset) 70px;
        padding-bottom: var(--main-offset);
        border-bottom: 1px solid var(--color-jumbo);
        margin-bottom: var(--second-offset);
    }
    &__item {
        img {
            margin-bottom: var(--small-offset);
        }
    }
    &__count {
        color: var(--color-jumbo);
        font: var(--font-book-16-16);
    }
    &__textarea {
        max-width: 465px;
        max-height: 245px;
        background-color: var(--color-white);
        padding: 20px;
        &::placeholder {
            color: var(--color-cameo);
            font: var(--font-book-16-16);
        }
    }
}
