.faq {
    &__container {
        padding: 60px 15px;
    }
    &__title {
        margin-bottom: var(--main-offset);
    }
}

.accordion {
    max-width: 880px;
    margin: 0 auto;
    border-top: 1px solid var(--color-black2);
    border-bottom: 1px solid var(--color-black2);
    transition: .3s linear;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 27px 0;
        cursor: pointer;
        transition: .3s linear;

    }
    &__close {
        svg {
            width: 25px;
            height: 25px;
            font-size: var(--color-purple);
        }
    }
    &__res {
        height: 0;
        transition: .3s linear;
        margin: 0;
        visibility: hidden;
    }
    &__title {

    }
}

.accordion--active .accordion__res {
    height: 100%;
    visibility: visible;
}
