:root {
  --color-black: #000;
  --color-black2: #242424;
  --color-white: #fff;
  --color-purple: #484283;
  --color-accent: #f14f4f;
  --color-accent-hover: #cc4949;
  --color-seashell-peach: #fff4ee;
  --color-cameo: #dbbba9;
  --color-river-bed: #444B58;
  --color-river-bed-hover: #31343C;
  --color-white-hover: rgba(255, 255, 255, 0.6);
  --color-gray: #B2B5BB;
  --color-aqua-haze: #F3F6F6;
  --color-jumbo: #808080;
  --color-eden: #0E5A4C;
  --color-matterhorn: #4D4D4D;
  --color-overlay: rgba(68, 75, 88, 0.7);
  --grid-gap: 20px;
  --main-offset: 40px;
  --big-offset: 60px;
  --second-offset: 20px;
  --small-offset: 10px;
  --border-radius: 4px;
  --font-family: 'Intro', sans-serif;
  --font-bold-36: 700 36px / 140% var(--font-family);
  --font-bold-30: 700 30px / 140% var(--font-family);
  --font-bold-30-30: 700 30px / 30px var(--font-family);
  --font-bold-20: 700 20px / 20px var(--font-family);
  --font-bold-16-16: 700 16px / 16px var(--font-family);
  --font-regular-30: 400 30px / 140% var(--font-family);
  --font-book-18: 300 18px / 140% var(--font-family);
  --font-regular-16: 400 16px / 140% var(--font-family);
  --font-regular-16-16: 400 16px / 16px var(--font-family);
  --font-book-16-16: 300 16px / 16px var(--font-family);
  --font-regular-20: 400 20px / 20px var(--font-family);
  --font-book-24: 300 24px / 24px var(--font-family);
  --font-book-16: 300 16px / 140% var(--font-family);
  --font-book-14: 300 14px / 140% var(--font-family); }

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1; }

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px; }

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none; }

@font-face {
  font-family: 'Intro';
  src: url("../fonts/Intro-Regular.woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Intro';
  src: url("../fonts/Intro-Book.woff2");
  font-display: swap;
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Intro';
  src: url("../fonts/Intro-Bold.woff2");
  font-display: swap;
  font-weight: 700;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

body {
  margin: 0;
  font-family: "Intro", sans-serif;
  background-color: var(--color-white);
  color: var(--color-river-bed); }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0; }

.is-outer {
  position: relative !important;
  left: -9999px !important; }

.site-container {
  overflow: hidden; }

.is-hidden {
  display: none !important; }

.for-mobile {
  display: none; }
  @media (max-width: 768px) {
    .for-mobile {
      display: block; } }

.error {
  border: 2px #ff4019 solid !important; }

.btn-reset {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer; }

.btn {
  border-radius: var(--border-radius);
  font: 400 16px/16px var(--font-family); }

.btn--primary {
  color: var(--color-white);
  padding: 22px 47px;
  background-color: var(--color-accent);
  transition: background-color .2s linear, color .2s linear; }
  .btn--primary:hover {
    background-color: var(--color-accent-hover); }

.btn--blue {
  background-color: var(--color-river-bed);
  color: var(--color-white);
  padding: 22px 77.5px;
  border-radius: var(--border-radius);
  transition: .3s ease-in-out; }
  .btn--blue:hover {
    background-color: var(--color-river-bed-hover); }

.btn--transparent-border {
  background-color: transparent;
  padding: 16px 42px;
  border: 1px solid currentColor;
  color: var(--color-river-bed);
  font: var(--font-regular-16-16);
  transition: .3s ease-in-out; }
  .btn--transparent-border:hover {
    background-color: var(--color-river-bed);
    color: var(--color-white); }

.btn--transparent {
  padding: 4px 0;
  position: relative; }
  .btn--transparent::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-river-bed);
    transition: .2s linear; }
  .btn--transparent:hover::before {
    width: 100%; }

.btn--rounded {
  width: 80px;
  height: 80px;
  display: inline-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  align-items: center;
  background-color: var(--color-river-bed);
  border-radius: 50%;
  transition: .3s ease-in-out; }
  .btn--rounded:hover {
    background-color: var(--color-river-bed-hover); }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px; }

.text {
  font: var(--font-book-16);
  margin: 0; }

.text--gray {
  font: var(--font-book-16);
  color: var(--color-gray);
  line-height: 1; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap); }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox  hide arrow */
input[type=number] {
  -moz-appearance: textfield; }

.custom-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .custom-checkbox__field {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-cameo);
    position: relative;
    border-radius: var(--border-radius); }
    .custom-checkbox__field::before {
      content: url("../img/sprite.svg#checked");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -66%);
      opacity: 0;
      transition: all .2s linear; }
    .custom-checkbox__field:checked::before {
      opacity: 1;
      width: 14.5px;
      height: 11.5px; }
  .custom-checkbox__text {
    font: var(--font-book-16);
    margin-left: 10px; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

.active {
  display: block !important; }
  .active--flex {
    display: flex !important; }

.input {
  padding: var(--second-offset);
  border-radius: var(--border-radius);
  border: none;
  display: block;
  width: 500px; }
  .input::-moz-placeholder {
    color: var(--color-gray);
    font: var(--font-book-16); }
  .input:-ms-input-placeholder {
    color: var(--color-gray);
    font: var(--font-book-16); }
  .input::placeholder {
    color: var(--color-gray);
    font: var(--font-book-16); }

.vendor-code {
  color: var(--color-gray);
  font: var(--font-book-14);
  line-height: 1; }

/*
==================== * Modal * =====================
*/
.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 1000;
  background-color: var(--color-overlay); }

.modal.active {
  display: flex !important;
  overflow: auto; }

.product-size__list {
  display: flex;
  flex-wrap: wrap; }

.product-size__btn {
  padding: 9px 25.5px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  font: var(--font-book-14);
  line-height: 1;
  transition: .2s ease-in-out; }
  .product-size__btn:hover {
    background-color: var(--color-gray);
    color: var(--color-white); }

.overflow-hidden {
  overflow: hidden; }

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 37px;
  height: 37px;
  transition: .4s ease; }
  .modal-close-btn svg {
    width: 100%;
    height: 100%; }
  .modal-close-btn:hover {
    transform: rotate(360deg); }
  .modal-close-btn:active {
    transform: translateY(5px); }

/*# sourceMappingURL=global.css.map */
