/*! nouislider - 14.7.0 - 4/6/2021 */
.noUi-target, .noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.noUi-target {
  position: relative; }

.noUi-base, .noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

.noUi-connects {
  overflow: hidden;
  z-index: 0; }

.noUi-connect, .noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat; }

.noUi-connect {
  height: 100%;
  width: 100%; }

.noUi-origin {
  height: 10%;
  width: 10%; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto; }

.noUi-vertical .noUi-origin {
  width: 0; }

.noUi-horizontal .noUi-origin {
  height: 0; }

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

.noUi-touch-area {
  height: 100%;
  width: 100%; }

.noUi-state-tap .noUi-connect, .noUi-state-tap .noUi-origin {
  transition: transform .3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

.noUi-horizontal {
  height: 18px; }

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px; }

.noUi-vertical {
  width: 18px; }

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  top: -17px; }

.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto; }

.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB; }

.noUi-connects {
  border-radius: 3px; }

.noUi-connect {
  background: #3FB8AF; }

.noUi-draggable {
  cursor: ew-resize; }

.noUi-vertical .noUi-draggable {
  cursor: ns-resize; }

.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #EBEBEB,0 3px 6px -3px #BBB; }

.noUi-active {
  box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB; }

.noUi-handle:after, .noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px; }

.noUi-handle:after {
  left: 17px; }

.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px; }

.noUi-vertical .noUi-handle:after {
  top: 17px; }

[disabled] .noUi-connect {
  background: #B8B8B8; }

[disabled] .noUi-handle, [disabled].noUi-handle, [disabled].noUi-target {
  cursor: not-allowed; }

.noUi-pips, .noUi-pips * {
  box-sizing: border-box; }

.noUi-pips {
  position: absolute;
  color: #999; }

.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center; }

.noUi-value-sub {
  color: #ccc;
  font-size: 10px; }

.noUi-marker {
  position: absolute;
  background: #CCC; }

.noUi-marker-sub {
  background: #AAA; }

.noUi-marker-large {
  background: #AAA; }

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%; }

.noUi-value-horizontal {
  transform: translate(-50%, 50%); }

.noUi-rtl .noUi-value-horizontal {
  transform: translate(50%, 50%); }

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px; }

.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px; }

.noUi-marker-horizontal.noUi-marker-large {
  height: 15px; }

.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%; }

.noUi-value-vertical {
  transform: translate(0, -50%);
  padding-left: 25px; }

.noUi-rtl .noUi-value-vertical {
  transform: translate(0, 50%); }

.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px; }

.noUi-marker-vertical.noUi-marker-sub {
  width: 10px; }

.noUi-marker-vertical.noUi-marker-large {
  width: 15px; }

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap; }

.noUi-horizontal .noUi-tooltip {
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%; }

.noUi-vertical .noUi-tooltip {
  transform: translate(0, -50%);
  top: 50%;
  right: 120%; }

.noUi-horizontal .noUi-origin > .noUi-tooltip {
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px; }

.noUi-vertical .noUi-origin > .noUi-tooltip {
  transform: translate(0, -18px);
  top: auto;
  right: 28px; }

.nav__list {
  display: flex;
  align-items: center; }
  @media (max-width: 1110px) {
    .nav__list {
      flex-direction: column;
      align-items: center; } }

.nav__item {
  padding: 2px 0;
  position: relative; }
  .nav__item:not(:last-child) {
    margin-right: var(--main-offset); }
    @media (max-width: 1110px) {
      .nav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px; } }
    @media (max-width: 700px) {
      .nav__item:not(:last-child) {
        margin-bottom: 20px; } }
    @media (max-width: 340px) {
      .nav__item:not(:last-child) {
        margin-bottom: 15px; } }
  .nav__item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    transition: .2s ease-in-out;
    background-color: var(--color-white); }
  .nav__item:hover::before {
    width: 100%; }

.nav__link {
  font: var(--font-book-16);
  color: var(--color-white);
  font-size: 14px; }
  @media (max-width: 1110px) {
    .nav__link {
      font-size: 60px; } }
  @media (max-width: 786px) {
    .nav__link {
      font-size: 50px; } }
  @media (max-width: 650px) {
    .nav__link {
      font-size: 35px; } }
  @media (max-width: 400px) {
    .nav__link {
      font-size: 28px; } }

.cart {
  margin-left: var(--main-offset);
  display: flex;
  align-items: center;
  position: relative; }
  .cart.active .cart-modal {
    display: block; }
  .cart.active .cart__text::before {
    width: 100%; }
  .cart__text {
    color: var(--color-white);
    font-size: 14px;
    font-weight: 300;
    padding: 2px 0;
    position: relative; }
    .cart__text::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 1px;
      transition: .2s ease-in-out;
      background-color: var(--color-white); }
    @media (max-width: 1110px) {
      .cart__text {
        color: var(--color-white);
        font-size: 60px; } }
    @media (max-width: 786px) {
      .cart__text {
        font-size: 50px; } }
    @media (max-width: 650px) {
      .cart__text {
        font-size: 35px; } }
    @media (max-width: 400px) {
      .cart__text {
        font-size: 28px; } }
  .cart__btn {
    display: flex;
    align-items: center;
    position: relative; }
    .cart__btn svg {
      display: block;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      -o-object-fit: cover;
      object-fit: cover; }
    .cart__btn:hover .cart__text::before {
      width: 100%; }
  .cart__count {
    position: absolute;
    bottom: -7px;
    right: -9px;
    color: var(--color-white);
    background-color: var(--color-accent);
    font: var(--font-book-16);
    height: 16px;
    min-width: 16px;
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center; }
  .cart-modal {
    display: none;
    position: absolute;
    top: 50px;
    right: 0; }
    .cart-modal__list {
      max-height: 325px;
      overflow-y: auto;
      box-shadow: 0px 4px 4px rgba(135, 135, 135, 0.25); }
    .cart-modal__item {
      display: flex;
      align-items: center;
      background-color: var(--color-white);
      padding: var(--small-offset) var(--second-offset); }
  .cart-item {
    min-width: 480px;
    transition: .2s linear; }
    .cart-item:hover {
      background-color: #F5F7FC; }
    .cart-item__img-wrap {
      min-height: 100px;
      display: flex;
      align-items: center; }
    .cart-item__img {
      min-width: 100px;
      max-height: 100px;
      margin-right: var(--small-offset); }
    .cart-item__delete {
      width: 40px;
      height: 40px;
      margin-left: auto;
      padding: 10px; }
      .cart-item__delete svg {
        width: 20px;
        height: 100%; }
      .cart-item__delete:hover svg {
        opacity: .7; }
    .cart-item__content {
      max-width: 268px; }
    .cart-item__title {
      font: var(--font-book-14);
      color: var(--color-matterhorn);
      margin-bottom: var(--second-offset); }
    .cart-item__price {
      font: var(--font-bold-20);
      color: var(--color-matterhorn); }
  .cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--second-offset);
    background-color: var(--color-white);
    box-shadow: 0px -4px 10px rgba(0, 13, 84, 0.1); }
    .cart-footer__res {
      display: block;
      font: var(--font-book-14);
      color: var(--color-matterhorn); }
    .cart-footer__price {
      display: block;
      color: var(--color-matterhorn);
      font: var(--font-bold-20);
      margin-top: var(--small-offset); }
    .cart-footer__btn {
      padding: 17px 47px; }

.logo {
  font: var(--font-bold-30);
  color: var(--color-white);
  cursor: pointer; }

.catalog-filter__title {
  font: var(--font-book-24);
  margin-bottom: var(--second-offset); }

.catalog-filter__inner {
  padding: var(--second-offset);
  background-color: var(--color-seashell-peach); }

.catalog-filter__cost, .catalog-filter__size, .catalog-filter__gender {
  margin-bottom: var(--second-offset); }

.catalog__btn-apply {
  margin-top: var(--second-offset);
  width: 100%;
  padding: 22px 0; }

.catalog__btn-reset {
  margin-top: var(--second-offset);
  color: var(--color-river-bed); }

.catalog__btns {
  display: flex;
  flex-direction: column;
  align-items: center; }

.filter-gender__labels {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 500px) {
    .filter-gender__labels {
      justify-content: space-around; } }

.filter-size__table {
  font: var(--font-book-16);
  border-collapse: collapse;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto; }
  .filter-size__table td {
    border: 1px solid var(--color-cameo);
    width: 80px;
    height: 57px;
    text-align: center;
    cursor: pointer;
    transition: .2s ease-in; }
    .filter-size__table td:hover {
      background-color: var(--color-cameo);
      color: var(--color-white); }

.filter-caption {
  margin-bottom: 10px;
  display: inline-block;
  font: var(--font-book-16); }

.noUi-horizontal .noUi-handle {
  width: 10px;
  right: -5px;
  top: -11px;
  background-color: var(--color-river-bed);
  opacity: 1;
  border: none;
  cursor: pointer;
  box-shadow: none; }

.noUi-target {
  box-shadow: none;
  border: none; }

.noUi-horizontal {
  height: 9px;
  background-color: var(--color-river-bed);
  cursor: pointer; }

.noUi-connect {
  background-color: var(--color-river-bed); }

.noUi-handle:after, .noUi-handle:before {
  visibility: hidden; }

.article-hover__btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.product-article__img-wrap {
  width: 100%;
  height: 293px; }

.product-article__img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%; }

.product-article__hover-block {
  opacity: 0;
  transition: .2s ease-in;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-white-hover); }
  .product-article__hover-block svg {
    width: 30px;
    height: 30px; }

.product-article:hover .product-article__hover-block {
  opacity: 1; }

.product-article__title {
  margin: 10px 0;
  font: var(--font-book-16); }

.product-article__cost {
  font: var(--font-regular-20); }

.product-article__img-wrap {
  position: relative;
  border-radius: var(--border-radius); }

.product-article__btn + .product-article__btn {
  margin-left: 40px; }

.insta-form__input {
  padding: var(--second-offset);
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  border: none;
  width: 100%; }

.insta-form__input + .insta-form__input {
  margin-top: var(--small-offset); }

.insta-form__btn {
  margin-top: var(--small-offset);
  width: 100%;
  border-radius: var(--border-radius); }

.insta-left__inner {
  padding: var(--main-offset) var(--second-offset);
  background-color: var(--color-purple);
  border-radius: var(--border-radius); }

.insta-left__legend {
  color: var(--color-white);
  font: var(--font-bold-30-30);
  text-align: center;
  margin-bottom: var(--second-offset); }

.insta-left__text {
  color: var(--color-white);
  font: var(--font-book-16-16);
  text-align: center;
  max-width: 260px;
  margin: 0 auto var(--main-offset); }

.insta-images__item--big {
  grid-column-start: 2;
  grid-column-end: 3; }

.insta-images__item:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2; }

.insta-images__item:nth-child(5) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4; }

.modal-formalization {
  transform: scale(0);
  transition: .3s ease-in-out;
  visibility: hidden;
  max-width: 580px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color-white);
  z-index: 1001; }
  .modal-formalization__list {
    max-height: none; }
  .modal-formalization__inner {
    position: relative;
    padding: var(--big-offset) var(--main-offset) var(--main-offset); }
  .modal-formalization__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--main-offset); }
  .modal-formalization__center {
    padding: 30px;
    border: 1px solid #D9D9D9;
    border-radius: var(--border-radius); }

.modal-center__text {
  display: inline-block;
  font: var(--font-bold-16-16);
  line-height: 1; }

.modal-center__group {
  margin-bottom: var(--second-offset); }

.modal-formalization__form {
  margin-top: var(--main-offset); }

.modal-formalization__list {
  margin-top: 15px;
  box-shadow: none; }

.modal-formalization__item {
  min-width: 440px;
  padding: var(--small-offset) 0; }

.modal-formalization-form__btn {
  margin-top: 30px; }

.modal-formalization-form__input + .modal-formalization-form__input {
  margin-top: var(--small-offset); }

.modal-formalization-form__input {
  background-color: #F7F7F7;
  width: 100%; }

.modal-formalization-overlay.active .modal-formalization {
  transform: scale(1);
  visibility: visible; }

.modal {
  display: none;
  transition: .3s linear; }
  .modal-product {
    transform: scale(0);
    visibility: hidden;
    width: 1160px;
    position: relative;
    margin: auto;
    background-color: var(--color-white); }
    .modal-product__inner {
      position: relative;
      padding: var(--main-offset) 130px var(--main-offset) var(--main-offset); }
    .modal-product__top {
      margin-bottom: var(--main-offset);
      display: flex;
      flex-wrap: wrap; }
    .modal-product__slider {
      width: 520px;
      max-width: 520px; }
    .modal-product__about {
      width: 430px;
      max-width: 430px;
      margin-left: var(--second-offset); }
    .modal-product__bottom {
      display: flex;
      flex-wrap: wrap; }

.product-about__top {
  display: flex;
  align-items: center;
  margin-bottom: var(--main-offset); }

.product-about__main {
  display: flex;
  height: 100%;
  flex-direction: column; }

.product-about__availability {
  margin-left: 50px;
  font: var(--font-book-16-16);
  color: var(--color-gray); }
  .product-about__availability span {
    color: var(--color-river-bed); }

.product-about__title {
  font: var(--font-book-24);
  line-height: 140%;
  margin-bottom: var(--second-offset); }

.product-about__size-span {
  font: var(--font-book-16-16);
  display: inline-block;
  margin-bottom: var(--second-offset); }

.product-about__raiting {
  margin-bottom: var(--second-offset); }
  .product-about__raiting svg {
    width: 20px;
    height: 20px; }

.product-about__item + .product-about__item {
  margin-left: var(--second-offset); }

.product-about__price {
  margin-top: var(--main-offset); }

.product-about__main-bottom {
  margin-top: 71px; }

.product-about__price {
  display: flex;
  align-items: center; }

.product-about__online-price {
  font: var(--font-bold-30-30); }

.product-about__offline-price {
  font: var(--font-book-16-16);
  color: var(--color-gray);
  margin-left: var(--second-offset); }

.product-about__pros-list {
  margin-top: var(--second-offset); }

.product-about__pros-item {
  position: relative;
  font: var(--font-book-14);
  padding-left: 25px;
  line-height: 1; }
  .product-about__pros-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 11px;
    background-image: url("../../img/right_icon.svg"); }

.product-about__pros-item + .product-about__pros-item {
  margin-top: var(--small-offset); }

.product-about__btn {
  width: 100%; }

.modal-product-bottom__feature {
  width: 430px;
  margin-left: var(--second-offset); }

.modal-product-bottom__description {
  width: 520px; }

.product-description__title {
  margin-bottom: var(--second-offset);
  font: var(--font-book-24); }

.product-description__text {
  max-width: 480px;
  margin: 0;
  font: var(--font-book-16); }

.product-feature__item {
  margin-bottom: var(--small-offset); }
  .product-feature__item span {
    font: var(--font-book-16-16); }

.product-slider__item {
  width: 70px;
  height: 75px;
  border-radius: var(--border-radius); }
  .product-slider__item-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.product-slider__item + .product-slider__item {
  margin-left: var(--second-offset); }

.product-slider__track {
  display: flex;
  margin-top: var(--second-offset); }

.product-slider__main {
  width: 520px;
  height: 460px;
  overflow: hidden; }
  .product-slider__main img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }

.modal-product-overlay.active .modal-product {
  transform: scale(1);
  visibility: visible; }

.burger {
  display: none;
  position: relative;
  width: 35px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1005; }
  .burger span {
    width: 35px;
    height: 1px;
    background-color: var(--color-white); }
    .burger span:first-child {
      transition: .5s ease; }
    .burger span:nth-child(2) {
      transition: .4s ease; }
    .burger span:nth-child(3) {
      transition: .3s ease; }
  .burger:hover {
    transform-style: preserve-3d; }
  .burger:hover span {
    transform: rotate3d(0, 1, 0.1, 180deg); }
  .burger.open span {
    transform-origin: 50% 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0; }
    .burger.open span:first-child {
      position: absolute;
      opacity: 1;
      transform: rotate3d(0, 0, 1, 45deg); }
    .burger.open span:nth-child(3) {
      opacity: 1;
      position: absolute;
      transform: rotate3d(0, 0, 1, -45deg); }
  .burger.open ~ .header__right {
    top: calc(100% - 82px);
    right: 0; }
    @media (max-width: 360px) {
      .burger.open ~ .header__right {
        top: calc(100% - 62px); } }
  @media (max-width: 1110px) {
    .burger {
      display: flex; } }

.header {
  color: var(--color-white);
  background-color: var(--color-purple);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }
  .header__container {
    --paddings: 15px;
    align-items: center;
    padding: var(--second-offset) var(--paddings);
    position: relative; }
    @media (max-width: 360px) {
      .header__container {
        padding: var(--small-offset) var(--second-offset); } }
    .header__container::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: calc(100% - var(--paddings) * 2);
      background-color: rgba(255, 255, 255, 0.5); }
  .header__left {
    grid-column: 2 span; }
  .header__burger {
    grid-column: 1 span;
    grid-column-start: 13; }
  .header__right {
    grid-column: 10 span;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    transition: .3s linear; }
    @media (max-width: 1110px) {
      .header__right {
        position: absolute;
        top: 0%;
        right: -100%;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-purple);
        z-index: 1000;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center; } }
  @media (max-width: 1110px) {
    .header__cart {
      margin-left: 0;
      margin-top: var(--second-offset); } }
  @media (max-width: 330px) {
    .header__cart {
      margin-top: 15px; } }

.hero {
  background-color: var(--color-purple);
  color: var(--color-white);
  padding-top: 82px; }
  .hero__bg-text {
    font-family: 'Intro';
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;
    color: rgba(255, 255, 255, 0.12);
    position: absolute;
    bottom: 108px;
    left: 155px;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    @media (max-width: 1110px) {
      .hero__bg-text {
        font-size: 135px; } }
    @media (max-width: 830px) {
      .hero__bg-text {
        font-size: 100px; } }
    @media (max-width: 600px) {
      .hero__bg-text {
        font-size: 70px;
        left: 126px; } }
    @media (max-width: 450px) {
      .hero__bg-text {
        font-size: 55px; } }
    @media (max-width: 375px) {
      .hero__bg-text {
        font-size: 45px; } }
    @media (max-width: 355px) {
      .hero__bg-text {
        display: none; } }
  .hero__container {
    padding: 100px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1; }
  .hero__title {
    margin: 0 0 var(--second-offset);
    font-family: 'Intro';
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    max-width: 50%;
    z-index: 1; }
    @media (max-width: 1120px) {
      .hero__title {
        max-width: 70%; } }
    @media (max-width: 800px) {
      .hero__title {
        font-size: 30px;
        max-width: 80%; } }
    @media (max-width: 600px) {
      .hero__title {
        font-size: 30px;
        max-width: 90%; } }
    @media (max-width: 360px) {
      .hero__title {
        font-size: 23px;
        max-width: 100%; } }
  .hero__descr {
    max-width: calc(50% - 100px);
    margin: 0;
    z-index: 1; }
    @media (max-width: 700px) {
      .hero__descr {
        max-width: 55%; } }
    @media (max-width: 700px) {
      .hero__descr {
        max-width: 70%;
        font-size: 14px; } }
  .hero__btn {
    margin-top: var(--main-offset);
    z-index: 1; }
    @media (max-width: 355px) {
      .hero__btn {
        margin-top: 30px; } }

.catalog__inner {
  padding: 60px 15px; }
  @media (max-width: 500px) {
    .catalog__inner {
      padding: 40px 15px; } }

.catalog__title {
  margin-bottom: 40px; }

.catalog__filter {
  grid-column: 3 span; }
  @media (max-width: 1100px) {
    .catalog__filter {
      grid-column: 4 span; } }
  @media (max-width: 930px) {
    .catalog__filter {
      grid-column: 12 span; } }

.catalog__items {
  grid-column: 9 span;
  margin-top: 67px; }
  @media (max-width: 1100px) {
    .catalog__items {
      grid-column: 8 span; } }
  @media (max-width: 930px) {
    .catalog__items {
      grid-column: 12 span; } }
  .catalog__items-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: var(--grid-gap); }
    @media (max-width: 1200px) {
      .catalog__items-grid {
        grid-template-columns: repeat(auto-fit, minmax(33%, 1fr)); } }

.catalog-list__item {
  grid-column: 3 span; }
  @media (max-width: 1200px) {
    .catalog-list__item {
      grid-column: 1 span; } }
  @media (max-width: 600px) {
    .catalog-list__item {
      grid-column: 2 span; } }

.catalog-filter__inputs {
  display: flex;
  position: relative; }
  .catalog-filter__inputs::before {
    content: '';
    position: absolute;
    height: 34px;
    width: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-gray); }

.catalog-filter__input:first-child {
  border: 1px solid var(--color-gray);
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
  @media (max-width: 930px) {
    .catalog-filter__input:first-child {
      width: 100%; } }

.catalog-filter__input:last-child {
  border: 1px solid var(--color-gray);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  @media (max-width: 930px) {
    .catalog-filter__input:last-child {
      width: 100%; } }

.catalog-filter__input {
  max-width: 50%;
  background-color: transparent;
  padding: 17px 5px;
  border-radius: var(--border-radius); }

@media (max-width: 500px) {
  .catalog-items {
    margin-top: 0; } }

.catalog-items__btn-wrap {
  display: flex;
  justify-content: center; }

.catalog-items__btn {
  margin: 60px auto 0; }

.team {
  background-color: var(--color-purple);
  overflow: hidden;
  position: relative; }
  .team__container {
    position: relative;
    z-index: 2;
    padding: 60px 15px 20px; }
    @media (max-width: 450px) {
      .team__container {
        padding: 40px 15px 20px; } }
  .team__title {
    margin-bottom: var(--main-offset);
    color: var(--color-white); }
  .team__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap); }
  .team__item {
    grid-column: 4 span;
    margin-bottom: var(--main-offset); }
    @media (max-width: 765px) {
      .team__item {
        grid-column: 6 span; } }
    @media (max-width: 430px) {
      .team__item {
        grid-column: 12 span; } }
    @media (max-width: 450px) {
      .team__item {
        margin-bottom: var(--small-offset); } }
  .team__text {
    color: var(--color-white); }
  .team-card__title {
    color: var(--color-white);
    margin: var(--second-offset) 0; }
  .team__avatars {
    border-radius: var(--border-radius); }
  .team__round--red {
    position: absolute;
    top: 0;
    right: 0; }

.about {
  height: 580px;
  position: relative;
  background-color: var(--color-purple); }
  @media (max-width: 540px) {
    .about {
      height: auto; } }
  .about__container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    height: 100%; }
  .about__circle {
    position: absolute;
    width: 550px;
    height: 424px; }
  .about__text {
    font: var(--font-book-16);
    color: #fff;
    max-width: 380px;
    transform: translateY(39%); }
    @media (max-width: 768px) {
      .about__text {
        transform: translateY(25%); } }
    @media (max-width: 768px) {
      .about__text {
        max-width: 239px; } }
    @media (max-width: 540px) {
      .about__text {
        max-width: 100%;
        transform: none;
        padding: var(--big-offset) 0; } }
  .about__title {
    color: #fff;
    margin: 0;
    margin-bottom: var(--second-offset); }
  .about__author {
    text-align: right;
    font: var(--font-bold-20);
    margin: 0;
    margin-top: var(--second-offset);
    position: relative;
    transform: translateX(65px); }
    @media (max-width: 920px) {
      .about__author {
        transform: translateX(0); } }
    .about__author:before {
      content: '';
      position: absolute;
      height: 3px;
      width: 30px;
      left: 62%;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--color-white); }
      @media (max-width: 768px) {
        .about__author:before {
          left: 42%; } }
  .about__img {
    width: 500px;
    height: 950px;
    transform: rotate(15deg);
    overflow: hidden;
    position: absolute;
    right: 100px;
    top: -150px;
    flex-shrink: 0;
    background-color: red; }
    @media (max-width: 1110px) {
      .about__img {
        width: 482px;
        height: 915px;
        right: -65px; } }
    @media (max-width: 850px) {
      .about__img {
        right: -145px; } }
    @media (max-width: 645px) {
      .about__img {
        width: 405px;
        height: 740px;
        top: 7px; } }
    @media (max-width: 540px) {
      .about__img {
        display: none; } }
    .about__img img {
      transform: rotate(-15deg);
      width: 135%;
      height: 100%;
      left: -80px;
      max-width: none;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute; }
      @media (max-width: 765px) {
        .about__img img {
          height: 82%;
          left: -109px; } }
      @media (max-width: 645px) {
        .about__img img {
          width: 400px;
          height: 594px;
          top: 19px; } }

.quiz {
  padding: var(--big-offset) 0; }
  @media (max-width: 450px) {
    .quiz {
      padding: var(--second-offset) 0; } }
  .quiz__content {
    padding: var(--main-offset) 100px;
    border-radius: var(--border-radius);
    background-color: var(--color-seashell-peach); }
    @media (max-width: 1050px) {
      .quiz__content {
        padding: var(--main-offset) var(--second-offset); } }
    @media (max-width: 450px) {
      .quiz__content {
        padding: var(--second-offset); } }
  .quiz__title {
    margin-bottom: var(--second-offset);
    font: var(--font-bold-30-30); }
    @media (max-width: 450px) {
      .quiz__title {
        font-size: 26px; } }
  .quiz__descr {
    font: var(--font-book-16-16);
    color: var(--color-jumbo);
    border-bottom: 1px solid currentColor;
    padding-bottom: var(--small-offset); }
  .quiz-label__bottom {
    display: flex;
    align-items: center; }
  .quiz__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 360px) {
      .quiz__bottom {
        flex-direction: column;
        justify-content: center; } }
  .quiz-form__last {
    margin-top: var(--second-offset);
    border-radius: var(--border-radius);
    background-color: var(--color-cameo);
    display: none;
    padding: var(--main-offset); }

.quiz-last__title {
  font: var(--font-bold-36);
  color: var(--color-white);
  margin-bottom: var(--small-offset); }

.quiz-last__descr {
  color: var(--color-white);
  font: var(--font-book-16); }

.quiz-last__inputs {
  margin-top: var(--small-offset); }

.quiz-last__input + .quiz-last__input {
  margin-top: var(--small-offset); }

.quiz-last__btn {
  margin-top: var(--small-offset);
  padding: 22px 73px; }

.quiz-questions {
  padding: var(--second-offset) 0; }
  @media (max-width: 450px) {
    .quiz-questions {
      padding-bottom: 0; } }

.quiz-question__label {
  display: block; }
  @media (max-width: 500px) {
    .quiz-question__label {
      display: flex;
      justify-content: center;
      flex-direction: column; } }

.quiz-question__title {
  font: var(--font-book-24);
  color: var(--color-river-bed);
  margin-bottom: var(--second-offset); }

.quiz-question__answers {
  grid-auto-rows: 155px;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--second-offset) 70px;
  padding-bottom: var(--main-offset);
  border-bottom: 1px solid var(--color-jumbo);
  margin-bottom: var(--second-offset); }
  @media (max-width: 1050px) {
    .quiz-question__answers {
      gap: var(--second-offset); } }
  @media (max-width: 765px) {
    .quiz-question__answers {
      grid-template-columns: repeat(2, 1fr); } }
  @media (max-width: 500px) {
    .quiz-question__answers {
      grid-template-columns: 1fr; } }
  @media (max-width: 450px) {
    .quiz-question__answers {
      padding-bottom: var(--second-offset); } }

.quiz-question__item img {
  margin-bottom: var(--small-offset); }

.quiz-question__count {
  color: var(--color-jumbo);
  font: var(--font-book-16-16); }

.quiz-question__textarea {
  max-width: 465px;
  max-height: 245px;
  background-color: var(--color-white);
  padding: 20px; }
  .quiz-question__textarea::-moz-placeholder {
    color: var(--color-cameo);
    font: var(--font-book-16-16); }
  .quiz-question__textarea:-ms-input-placeholder {
    color: var(--color-cameo);
    font: var(--font-book-16-16); }
  .quiz-question__textarea::placeholder {
    color: var(--color-cameo);
    font: var(--font-book-16-16); }

@media (max-width: 360px) {
  .quiz-question__btn {
    margin-top: var(--small-offset);
    width: 100%; } }

.faq__container {
  padding: var(--big-offset) 15px; }
  @media (max-width: 450px) {
    .faq__container {
      padding: var(--main-offset) 15px; } }

.faq__title {
  margin-bottom: var(--main-offset); }

.accordion {
  max-width: 880px;
  margin: 0 auto;
  border-top: 1px solid var(--color-black2);
  transition: .3s linear; }
  .accordion + .accordion {
    border-bottom: 1px solid var(--color-black2); }
  .accordion__header-top {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    transition: .3s linear;
    width: 100%;
    padding: 25px 0; }
  .accordion__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
    font: var(--prehigh-regular);
    text-align: left;
    color: var(--color-main);
    background-color: transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    @media (max-width: 450px) {
      .accordion__header {
        padding: var(--second-offset) 0; } }
  .accordion__close svg {
    width: 25px;
    height: 25px;
    font-size: var(--color-purple); }
  .accordion__res {
    overflow: hidden;
    padding-right: 70px;
    padding-bottom: 0;
    max-height: 0;
    box-sizing: content-box;
    font: var(--middle-book);
    color: rgba(36, 36, 36, 0.5);
    opacity: 0;
    transition: .3s ease-out;
    will-change: max-height; }
    .accordion__res p {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
  .accordion.open .accordion__res {
    opacity: 1;
    padding-bottom: 18px; }
    @media (max-width: 450px) {
      .accordion.open .accordion__res {
        padding-bottom: 0; } }
  .accordion__close {
    transition: .3s; }
  .accordion.open .accordion__close {
    transform: rotate(45deg); }

.contacts {
  background-color: var(--color-aqua-haze); }
  .contacts__inner {
    grid-template-columns: repeat(12, 1fr);
    padding: var(--big-offset) 15px; }
  .contacts__title {
    margin-bottom: var(--big-offset); }
  .contacts__left {
    grid-column: 5 span; }
    @media (max-width: 768px) {
      .contacts__left {
        grid-column: 12 span; } }
  .contacts__map {
    grid-column: 7 span;
    max-height: 500px; }
    @media (max-width: 768px) {
      .contacts__map {
        grid-column: 12 span; } }
  .contacts-left__socials {
    margin-top: var(--main-offset); }
  .contacts__left-links + .contacts__left-links {
    margin-top: var(--main-offset); }
  .contacts-left__socials {
    display: flex; }
  .contacts-left__social {
    min-width: 44px;
    min-height: 44px;
    max-width: 44px;
    max-height: 44px;
    border-radius: 100%;
    background-color: var(--color-eden);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .1s linear; }
    .contacts-left__social svg {
      width: 23.5px;
      height: 23.5px; }
    .contacts-left__social:hover {
      opacity: .6; }
  .contacts-left__social + .contacts-left__social {
    margin-left: var(--second-offset); }
  .contacts-link__department {
    margin-bottom: var(--main-offset); }

.contact-links__department {
  color: var(--color-gray);
  font: var(--font-book-14);
  text-transform: uppercase;
  display: inline-block; }
  .contact-links__department-sale {
    margin-bottom: var(--second-offset);
    display: block; }

.contact-links__number {
  color: var(--color-river-bed);
  font: var(--font-regular-30); }

.contact-links__address {
  font: var(--font-book-18);
  margin-top: var(--small-offset); }

.link-department {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center; }
  .link-department__question {
    margin-left: var(--small-offset);
    min-width: var(--second-offset);
    min-height: var(--second-offset);
    max-width: var(--second-offset);
    max-height: var(--second-offset);
    border-radius: 100%;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center; }
    .link-department__question svg {
      width: 6px;
      height: 10px; }
  .link-department__answer {
    font: var(--font-book-14);
    visibility: hidden;
    top: -100px;
    right: -63px;
    opacity: 0;
    position: absolute;
    width: 430px;
    background-color: var(--color-white);
    padding: var(--small-offset) var(--second-offset);
    border-radius: var(--border-radius);
    transition: .2s linear;
    z-index: 5;
    box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2); }
    .link-department__answer::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 15px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 8.5px 0 8.5px;
      border-color: var(--color-white) transparent transparent transparent;
      border-radius: 7px; }

.link-department:hover .link-department__answer {
  opacity: 1;
  visibility: visible;
  top: -95px; }

.insta {
  padding: 70px 0 80px; }
  .insta__inner {
    gap: var(--big-offset); }
    @media (max-width: 1110px) {
      .insta__inner {
        gap: var(--small-offset); } }
  .insta__left {
    grid-column: 4 span; }
    @media (max-width: 1050px) {
      .insta__left {
        grid-column: 12 span; } }
  .insta__right {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: 8 span; }
    @media (max-width: 1050px) {
      .insta__right {
        grid-column: 12 span; } }
  .insta-right__grid {
    grid-template-rows: 160px 160px;
    grid-template-columns: 152px 330px 152px;
    gap: 15px var(--grid-gap); }
  .insta-right__logo {
    margin-bottom: var(--small-offset); }

.footer {
  background-color: var(--color-river-bed);
  padding: 30px 0; }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }

/*# sourceMappingURL=main.css.map */
