<section class="catalog" id="catalog">
    <div class="container catalog__inner grid">
        <div class="catalog__filter catalog-filter">
            <h2 class="catalog__title">Каталог</h2>
            <div class="catalog-filter__inner">
                <h3 class="catalog-filter__title">Подбор по&nbsp;параметрам</h3>
                <div class="catalog-filter__cost filter-cost">
                    <span class="filter-cost__caption filter-caption">Цена, руб</span>
                    <div class="catalog-filter__inputs">
                        <input class="catalog-filter__input" id="input-0" type="number">
                        <input class="catalog-filter__input" id="input-1" type="number">
                    </div>
                    <div class="filter-cost__range" id="range-slider"></div>
                </div>
                <div class="catalog-filter__gender filter-gender">
                    <span class="filter-gender__caption filter-caption">Пол</span>
                    <div class="filter-gender__labels">
                        <label class="filter-gender__label custom-checkbox">
                            <input type="checkbox" class="filter-gender__checkbox custom-checkbox__field">
                            <span class="filter-gender__span custom-checkbox__text">мужской</span>
                        </label>
                        <label class="filter-gender__label custom-checkbox">
                            <input type="checkbox" class="filter-gender__checkbox custom-checkbox__field">
                            <span class="filter-gender__span custom-checkbox__text">женский</span>
                        </label>
                    </div>
                </div>
                <div class="catalog-filter__size filter-size">
                    <span class="filter-size__caption filter-caption">Размер</span>
                    <table class="filter-size__table">
                        <tr>
                            <td>35</td>
                            <td>36</td>
                            <td>37</td>
                        </tr>
                        <tr>
                            <td>38</td>
                            <td>39</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <td>41</td>
                            <td>42</td>
                            <td>43</td>
                        </tr>
                    </table>
                    <div class="catalog__btns">
                        <button class="btn btn-reset btn--blue catalog__btn-apply">Применить</button>
                        <button class="btn btn-reset btn--transparent  catalog__btn-reset">сбросить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="catalog__items catalog-items">
            <ul class="catalog-items__list catalog__items-grid list-reset">
                <li class="catalog-list__item">
                    <article class="catalog-items__article product-article">
                        <div class="product-article__img-wrap">
                            <img src="../img/product.jpg" alt="product" class="product-article__img">
                            <div class="product-article__hover-block article-hover">
                                <div class="article-hover__btn">
                                    <button class="product-article__btn btn-reset btn btn--rounded move-to-product-card">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </button>
                                    <button class="product-article__btn btn-reset btn btn--rounded">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4 class="product-article__title">Кроссовки Nike Air Force 1 '07 QS</h4>
                        <span class="product-article__cost">11 000 р</span>
                    </article>
                </li>
                <li class="catalog-list__item">
                    <article class="catalog-items__article product-article">
                        <div class="product-article__img-wrap">
                            <img src="../img/product.jpg" alt="product" class="product-article__img">
                            <div class="product-article__hover-block article-hover">
                                <div class="article-hover__btn">
                                    <button class="product-article__btn btn-reset btn btn--rounded move-to-product-card">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </button>
                                    <button class="product-article__btn btn-reset btn btn--rounded">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4 class="product-article__title">Кроссовки Nike Air Force 1 '07 QS</h4>
                        <span class="product-article__cost">11 000 р</span>
                    </article>
                </li>
                <li class="catalog-list__item">
                    <article class="catalog-items__article product-article">
                        <div class="product-article__img-wrap">
                            <img src="../img/product.jpg" alt="product" class="product-article__img">
                            <div class="product-article__hover-block article-hover">
                                <div class="article-hover__btn">
                                    <button class="product-article__btn btn-reset btn btn--rounded move-to-product-card">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </button>
                                    <button class="product-article__btn btn-reset btn btn--rounded">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4 class="product-article__title">Кроссовки Nike Air Force 1 '07 QS</h4>
                        <span class="product-article__cost">11 000 р</span>
                    </article>
                </li>
                <li class="catalog-list__item">
                    <article class="catalog-items__article product-article">
                        <div class="product-article__img-wrap">
                            <img src="../img/product.jpg" alt="product" class="product-article__img">
                            <div class="product-article__hover-block article-hover">
                                <div class="article-hover__btn">
                                    <button class="product-article__btn btn-reset btn btn--rounded move-to-product-card">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </button>
                                    <button class="product-article__btn btn-reset btn btn--rounded">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4 class="product-article__title">Кроссовки Nike Air Force 1 '07 QS</h4>
                        <span class="product-article__cost">11 000 р</span>
                    </article>
                </li>
                <li class="catalog-list__item">
                    <article class="catalog-items__article product-article">
                        <div class="product-article__img-wrap">
                            <img src="../img/product.jpg" alt="product" class="product-article__img">
                            <div class="product-article__hover-block article-hover">
                                <div class="article-hover__btn">
                                    <button class="product-article__btn btn-reset btn btn--rounded move-to-product-card">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </button>
                                    <button class="product-article__btn btn-reset btn btn--rounded">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4 class="product-article__title">Кроссовки Nike Air Force 1 '07 QS</h4>
                        <span class="product-article__cost">11 000 р</span>
                    </article>
                </li>
                <li class="catalog-list__item">
                    <article class="catalog-items__article product-article">
                        <div class="product-article__img-wrap">
                            <img src="../img/product.jpg" alt="product" class="product-article__img">
                            <div class="product-article__hover-block article-hover">
                                <div class="article-hover__btn">
                                    <button class="product-article__btn btn-reset btn btn--rounded move-to-product-card">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </button>
                                    <button class="product-article__btn btn-reset btn btn--rounded">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4 class="product-article__title">Кроссовки Nike Air Force 1 '07 QS</h4>
                        <span class="product-article__cost">11 000 р</span>
                    </article>
                </li>
                <li class="catalog-list__item">
                    <article class="catalog-items__article product-article">
                        <div class="product-article__img-wrap">
                            <img src="../img/product.jpg" alt="product" class="product-article__img">
                            <div class="product-article__hover-block article-hover">
                                <div class="article-hover__btn">
                                    <button class="product-article__btn btn-reset btn btn--rounded move-to-product-card">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </button>
                                    <button class="product-article__btn btn-reset btn btn--rounded">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4 class="product-article__title">Кроссовки Nike Air Force 1 '07 QS</h4>
                        <span class="product-article__cost">11 000 р</span>
                    </article>
                </li>
                <li class="catalog-list__item">
                    <article class="catalog-items__article product-article">
                        <div class="product-article__img-wrap">
                            <img src="../img/product.jpg" alt="product" class="product-article__img">
                            <div class="product-article__hover-block article-hover">
                                <div class="article-hover__btn">
                                    <button class="product-article__btn btn-reset btn btn--rounded move-to-product-card">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </button>
                                    <button class="product-article__btn btn-reset btn btn--rounded">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4 class="product-article__title">Кроссовки Nike Air Force 1 '07 QS</h4>
                        <span class="product-article__cost">11 000 р</span>
                    </article>
                </li>
                <li class="catalog-list__item">
                    <article class="catalog-items__article product-article">
                        <div class="product-article__img-wrap">
                            <img src="../img/product.jpg" alt="product" class="product-article__img">
                            <div class="product-article__hover-block article-hover">
                                <div class="article-hover__btn">
                                    <button class="product-article__btn btn-reset btn btn--rounded move-to-product-card">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#eye"></use>
                                        </svg>
                                    </button>
                                    <button class="product-article__btn btn-reset btn btn--rounded">
                                        <svg>
                                            <use xlink:href="img/sprite.svg#cart"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <h4 class="product-article__title">Кроссовки Nike Air Force 1 '07 QS</h4>
                        <span class="product-article__cost">11 000 р</span>
                    </article>
                </li>
            </ul>
            <div class="catalog-items__btn-wrap">
                <button class="catalog-items__btn btn btn-reset btn--primary">Показать еще</button>
            </div>
        </div>
    </div>
</section>
