<section class="faq">
    <div class="container faq__container">
        <h2 class="faq__title">Часто задаваемые вопросы</h2>
        <div class="faq__accordion accordion accordion-js">
            <div class="accordion__header">
                <h3 class="accordion__question">Вопрос 1</h3>
                <button class="btn btn-reset accordion__close">
                    <svg>
                        <use xlink:href="../img/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
            <p class="accordion__res">А это ответ 1: в комплексе функционируют 6 детских садов с площадками, воспитателями и всякими другими людьми</p>
        </div>
        <div class="faq__accordion accordion accordion-js">
            <div class="accordion__header">
                <h3 class="accordion__question">Вопрос 1</h3>
                <button class="btn btn-reset accordion__close">
                    <svg>
                        <use xlink:href="../img/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
            <p class="accordion__res">А это ответ 1: в комплексе функционируют 6 детских садов с площадками, воспитателями и
                всякими другими людьми</p>
        </div>
    </div>
</section>
