<header class="header">
  <div class="container grid header__container">
    <div class="header__left">
      <a href="#hero" class="logo header__logo">SneakMax</a>
    </div>
    <button class="header__burger burger btn-reset" id="burger-menu" aria-label="open burger menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="header__right">
      <nav class="nav header__nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#catalog" class="nav__link modal-close-js">Каталог</a></li>
          <li class="nav__item"><a href="#about" class="nav__link modal-close-js">О нас</a></li>
          <li class="nav__item"><a href="#quiz" class="nav__link modal-close-js">Подбор товара</a></li>
          <li class="nav__item"><a href="#team" class="nav__link modal-close-js">Наша команда</a></li>
          <li class="nav__item"><a href="#faq" class="nav__link modal-close-js">Доставка и оплата</a></li>
          <li class="nav__item"><a href="#contacts" class="nav__link modal-close-js">Контакты</a></li>
        </ul>
      </nav>
      <div class="cart header__cart" id="cart">
        <button class="btn-reset cart__btn" id="cart-btn" aria-label="открыть корзину">
          <span class="cart__text">Корзина</span>
          <svg>
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <span class="cart__count">1</span>
        </button>
        <div class="cart__modal cart-modal">
          <ul class="cart-modal__list list-reset">
            <li class="cart-modal__item cart-item">
              <div class="cart-item__img-wrap">
                <img src="./img/product-cart.jpg" class="cart-item__img" alt="product img">
              </div>
              <div class="cart-item__content">
                <div class="cart-item__title">Женские кроссовки Puma Force 1 Shadow</div>
                <div class="cart-item__price">8 678 ₽</div>
              </div>
              <button class="cart-item__delete btn-reset" aria-label="delete product from cart">
                <svg>
                  <use xlink:href="./img/sprite.svg#delete"></use>
                </svg>
              </button>
            </li>
            <li class="cart-modal__item cart-item">
              <div class="cart-item__img-wrap">
                <img src="./img/product-cart.jpg" class="cart-item__img" alt="product img">
              </div>
              <div class="cart-item__content">
                <div class="cart-item__title">Женские кроссовки Puma Force 1 Shadow</div>
                <div class="cart-item__price">8 678 ₽</div>
              </div>
              <button class="cart-item__delete btn-reset" aria-label="delete product from cart">
                <svg>
                  <use xlink:href="./img/sprite.svg#delete"></use>
                </svg>
              </button>
            </li>
            <li class="cart-modal__item cart-item">
              <div class="cart-item__img-wrap">
                <img src="./img/product-cart.jpg" class="cart-item__img" alt="product img">
              </div>
              <div class="cart-item__content">
                <div class="cart-item__title">Женские кроссовки Puma Force 1 Shadow</div>
                <div class="cart-item__price">8 678 ₽</div>
              </div>
              <button class="cart-item__delete btn-reset" aria-label="delete product from cart">
                <svg>
                  <use xlink:href="./img/sprite.svg#delete"></use>
                </svg>
              </button>
            </li>
            <li class="cart-modal__item cart-item">
              <div class="cart-item__img-wrap">
                <img src="./img/product-cart.jpg" class="cart-item__img" alt="product img">
              </div>
              <div class="cart-item__content">
                <div class="cart-item__title">Женские кроссовки Puma Force 1 Shadow</div>
                <div class="cart-item__price">8 678 ₽</div>
              </div>
              <button class="cart-item__delete btn-reset" aria-label="delete product from cart">
                <svg>
                  <use xlink:href="./img/sprite.svg#delete"></use>
                </svg>
              </button>
            </li>
          </ul>
          <div class="cart-modal__footer cart-footer">
            <div class="cart-footer__left">
              <span class="cart-footer__res">Итого:</span>
              <span class="cart-footer__price">25 789 ₽</span>
            </div>
            <button class="cart-footer__btn btn-reset btn btn--primary">Перейти в корзину</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
