<section class="insta" id="insta">
    <div class="container insta__inner grid">
        <div class="insta__left insta-left">
            <div class="insta-left__inner">
                <h2 class="insta-left__legend">Есть вопросы?</h2>
                <p class="insta-left__text">Заполните форму и&nbsp;наш менеджер свяжется с&nbsp;вами</p>
                <form action="mail.php" class="insta-left__form">
                    <input placeholder="Ваше имя" type="text" class="insta-form__input">
                    <input placeholder="Номер телефона" type="number" class="insta-form__input">
                    <button class="bnt btn-reset btn--primary insta-form__btn">Отправить</button>
                </form>
            </div>
        </div>
        <div class="insta__right insta-right">
            <img class="insta-right__logo" src="./img/instagram-logo.png" alt="instagram-logo">
            <div class="insta-right__grid grid">
                <article class="insta-images__item">
                    <a href="https://www.instagram.com/maxgraph23/" class="insta-images__link">
                        <img src="./img/insta-1.jpg" alt="instagram photo">
                    </a>
                </article>
                <article class="insta-images__item">
                    <a href="https://www.instagram.com/maxgraph23/" class="insta-images__link">
                        <img src="./img/insta-2.jpg" alt="instagram photo">
                    </a>
                </article>
                <article class="insta-images__item insta-images__item--big">
                    <a href="https://www.instagram.com/maxgraph23/" class="insta-images__link">
                        <img src="./img/insta-3.jpg" alt="instagram photo">
                    </a>
                </article>
                <article class="insta-images__item">
                    <a href="https://www.instagram.com/maxgraph23/" class="insta-images__link">
                        <img src="./img/insta-4.jpg" alt="instagram photo">
                    </a>
                </article>
                <article class="insta-images__item">
                    <a href="https://www.instagram.com/maxgraph23/" class="insta-images__link">
                        <img src="./img/insta-5.jpg" alt="instagram photo">
                    </a>
                </article>
            </div>
        </div>
    </div>
</section>
