<div class="modal modal-overlay modal-formalization-overlay" id="modal-formalization-overlay">
    <div class="modal__formalization modal-formalization" id="modal-formalization">
        <div class="modal-formalization__inner">
            <div class="modal-formalization__top">
                <h3 class="modal-formalization__title">Оформление заказа</h3>
                <span class="modal-formalization__code vendor-code">Заказ:&nbsp;<span>345667</span></span>
            </div>
            <div class="modal-formalization__center modal-center">
                <div class="modal-center__about">
                    <div class="modal-center__group">
                        <span class="text--gray">Товаров в заказе:</span>
                        <span class="modal-center__text">3 шт</span>
                    </div>
                    <div class="modal-center__group">
                        <span class="text--gray">Общая сумма заказа:</span>
                        <span class="modal-center__text">25 789 ₽</span>
                    </div>
                </div>
                <div class="modal-center__product">
                    <span class="modal-center__accordion modal-center__text">Состав заказа</span>
                    <ul class="modal-formalization__list cart-modal__list list-reset">
                        <li class="modal-formalization__item cart-modal__item cart-item">
                            <div class="cart-item__img-wrap">
                                <img src="../img/product-cart.jpg" class="cart-item__img" alt="product img">
                            </div>
                            <div class="cart-item__content">
                                <div class="cart-item__title">Женские кроссовки Puma Force 1 Shadow</div>
                                <div class="cart-item__price">8 678 ₽</div>
                            </div>
                            <button class="cart-item__delete btn-reset" aria-label="delete product from cart">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#delete"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="modal-formalization__item cart-modal__item cart-item">
                            <div class="cart-item__img-wrap">
                                <img src="../img/product-cart.jpg" class="cart-item__img" alt="product img">
                            </div>
                            <div class="cart-item__content">
                                <div class="cart-item__title">Женские кроссовки Puma Force 1 Shadow</div>
                                <div class="cart-item__price">8 678 ₽</div>
                            </div>
                            <button class="cart-item__delete btn-reset" aria-label="delete product from cart">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#delete"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="modal-formalization__item cart-modal__item cart-item">
                            <div class="cart-item__img-wrap">
                                <img src="../img/product-cart.jpg" class="cart-item__img" alt="product img">
                            </div>
                            <div class="cart-item__content">
                                <div class="cart-item__title">Женские кроссовки Puma Force 1 Shadow</div>
                                <div class="cart-item__price">8 678 ₽</div>
                            </div>
                            <button class="cart-item__delete btn-reset" aria-label="delete product from cart">
                                <svg>
                                    <use xlink:href="./img/sprite.svg#delete"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <form class="modal-formalization__form modal-formalization-form">
                <input class="input modal-formalization-form__input" type="text" placeholder="Ваше имя">
                <input class="input modal-formalization-form__input" type="text" placeholder="Номер телефона">
                <input class="input modal-formalization-form__input" type="text" placeholder="E-mail">
                <button class="modal-formalization-form__btn btn btn-reset btn--primary">Оформить заказ</button>
            </form>
        </div>
    </div>
</div>
