<div class="modal modal-overlay modal-product-overlay" id="modal-product-overlay">
    <div class="modal-product">
        <div class="modal-product__inner">
            <div class="modal-product__top modal-product-top">
                <div class="modal-product__slider product-slider">
                    <div class="product-slider__main">
                        <img src="../img/product.jpg" alt="product image" class="product-slider__main-img">
                    </div>
                    <ul class="product-slider__track list-reset">
                        <li class="product-slider__item">
                            <img src="../img/product.jpg" alt="product" class="product-slider__item-img">
                        </li>
                        <li class="product-slider__item">
                            <img src="../img/product.jpg" alt="product" class="product-slider__item-img">
                        </li>
                        <li class="product-slider__item">
                            <img src="../img/product.jpg" alt="product" class="product-slider__item-img">
                        </li>
                        <li class="product-slider__item">
                            <img src="../img/product.jpg" alt="product" class="product-slider__item-img">
                        </li>
                        <li class="product-slider__item">
                            <img src="../img/product.jpg" alt="product" class="product-slider__item-img">
                        </li>
                        <li class="product-slider__item">
                            <img src="../img/product.jpg" alt="product" class="product-slider__item-img">
                        </li>
                    </ul>
                </div>
                <div class="modal-product__about product-about">
                    <div class="product-about__main">
                        <div class="product-about__top">
                            <span class="product-about__code vendor-code">Артикул:&nbsp;<span>879876</span></span>
                            <span class="product-about__availability">В наличии:&nbsp;<span>13 шт</span></span>
                        </div>
                        <h3 class="product-about__title">Женские кроссовки Puma Force&nbsp;1 Shadow</h3>
                        <div class="product-about__raiting">
                            <svg>
                                <use xlink:href="img/sprite.svg#star-red"></use>
                            </svg>
                            <svg>
                                <use xlink:href="img/sprite.svg#star-red"></use>
                            </svg>
                            <svg>
                                <use xlink:href="img/sprite.svg#star-red"></use>
                            </svg>
                            <svg>
                                <use xlink:href="img/sprite.svg#star-red"></use>
                            </svg>
                            <svg>
                                <use xlink:href="img/sprite.svg#star-red"></use>
                            </svg>
                        </div>
                        <div class="product-about__size">
                            <span class="product-about__size-span">Выберите размер</span>
                            <ul class="product-about__size-btns list-reset product-size__list">
                                <li class="product-about__item product-size__item">
                                    <button class="product-size__btn btn btn-reset product-about__size-btn">36</button>
                                </li>
                                <li class="product-about__item product-size__item">
                                    <button class="product-size__btn btn btn-reset product-about__size-btn">36</button>
                                </li>
                                <li class="product-about__item product-size__item">
                                    <button class="product-size__btn btn btn-reset product-about__size-btn">36</button>
                                </li>
                                <li class="product-about__item product-size__item">
                                    <button class="product-size__btn btn btn-reset product-about__size-btn">36</button>
                                </li>
                                <li class="product-about__item product-size__item">
                                    <button class="product-size__btn btn btn-reset product-about__size-btn">36</button>
                                </li>
                            </ul>
                        </div>
                        <div class="product-about__price">
                            <span class="product-about__online-price">19 789 ₽</span>
                            <span class="product-about__offline-price">20 578 ₽</span>
                        </div>
                        <div class="product-about__main-bottom">
                            <button class="product-about__btn btn btn-reset btn--primary">Заказать</button>
                            <ul class="product-about__pros-list list-reset">
                                <li class="product-about__pros-item text--gray">Бесплатная доставка до двери</li>
                                <li class="product-about__pros-item text--gray">Оплата заказа при получении</li>
                                <li class="product-about__pros-item text--gray">Обмен в течении двух недель</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-product__bottom modal-product-bottom">
                <div class="modal-product-bottom__description product-description">
                    <h4 class="product-description__title">Описание</h4>
                    <p class="product-description__text">Кроссовки Nike Blazer Mid &rsquo;77 Vintage Suede с&nbsp;винтажной подошвой возрождают стиль баскетбольных моделей Nike прошлого, создавая впечатление, что они хранились в&nbsp;шкафу долгие годы.</p>
                </div>
                <div class="modal-product-bottom__feature product-feature">
                    <h4 class="product-feature__title product-description__title">Характеристики</h4>
                    <ul class="product-feature__list list-reset">
                        <li class="product-feature__item">
                            <span class="product-feature__caption">Пол:&nbsp;</span>
                            <span class="product-feature__type">Мужской
                            </span>
                        </li>
                        <li class="product-feature__item">
                            <span class="product-feature__caption">Цвета:&nbsp;</span>
                            <span class="product-feature__type">Разноцветный
                            </span>
                        </li>
                        <li class="product-feature__item">
                            <span class="product-feature__caption">Состав:&nbsp;</span>
                            <span class="product-feature__type">Кожа, текстиль, резина</span>
                        </li>
                        <li class="product-feature__item">
                            <span class="product-feature__caption">Страна:&nbsp;</span>
                            <span class="product-feature__type">Вьетнам
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
