<section class="quiz" id="quiz">
    <div class="container quiz__container">
        <h2 class="visually-hidden">Quiz - подбор товара</h2>
        <div class="quiz__content">
            <h3 class="quiz__title title">Мы подберем идеальную пару для вас</h3>
            <p class="quiz__descr text">Ответьте на три вопроса и мы вышлем каталог с самыми подходящими для вас моделями</p>
            <form action="#" method="POST" class="quiz-form">
                <div class="quiz-form__questions quiz-questions"></div>
                <div class="quiz-form__last quiz-last">
                    <h3 class="quiz-last__title">Получить предложение</h3>
                    <p class="quiz-last__descr text">Получите подборку подходящих для вас моделей на почту</p>
                    <div class="quiz-last__inputs">
                        <input type="text" placeholder="Ваше имя" class="quiz-last__input input">
                        <input type="email"
                        placeholder="E-mail" class="quiz-last__input quiz-last__email input">
                        <button class="quiz-last__btn btn btn-reset btn--primary">Получить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
