<section class="team">
    <img class="team__round--red" src="../img/team__circle.svg" alt="circle" aria-hidden="true">
    <div class="team__container container">
        <h2 class="team__title">Наша команда</h2>
        <ul class="team__list list-reset">
            <li class="team__item">
                <div class="team__card team-card">
                    <img src="../img/team-1.jpg" alt="team image" class="team__avatars">
                    <h3 class="team-card__title">Максим Золотарев</h3>
                    <p class="team__text text">Администратор</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__card team-card">
                    <img src="../img/team-2.jpg" alt="team image" class="team__avatars">
                    <h3 class="team-card__title">Максим Золотарев</h3>
                    <p class="team__text text">Администратор</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__card team-card">
                    <img src="../img/team-3.jpg" alt="team image" class="team__avatars">
                    <h3 class="team-card__title">Максим Золотарев</h3>
                    <p class="team__text text">Администратор</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__card team-card">
                    <img src="../img/team-4.jpg" alt="team image" class="team__avatars">
                    <h3 class="team-card__title">Максим Золотарев</h3>
                    <p class="team__text text">Администратор</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__card team-card">
                    <img src="../img/team-5.jpg" alt="team image" class="team__avatars">
                    <h3 class="team-card__title">Максим Золотарев</h3>
                    <p class="team__text text">Администратор</p>
                </div>
            </li>
            <li class="team__item">
                <div class="team__card team-card">
                    <img src="../img/team-6.jpg" alt="team image" class="team__avatars">
                    <h3 class="team-card__title">Максим Золотарев</h3>
                    <p class="team__text text">Администратор</p>
                </div>
            </li>
        </ul>
    </div>
</section>
