html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Intro", sans-serif;
  background-color: var(--color-white);
  color: var(--color-river-bed);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
// все в классах потому что это никак не повлияет на стили подключаемых библиотек
.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.is-outer {
  position: relative !important; // stylelint-disable-line declaration-no-important
  left: -9999px !important; // stylelint-disable-line declaration-no-important
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.for-mobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.btn {
  border-radius: var(--border-radius);
  font: 400 16px / 16px var(--font-family);
}

.btn--primary {
  color: var(--color-white);
  padding: 22px 47px;
  background-color: var(--color-accent);
  transition: background-color .2s linear, color .2s linear;
  &:hover {
    background-color: var(--color-accent-hover);
  }
}

.btn--blue {
  background-color: var(--color-river-bed);
  color: var(--color-white);
  padding: 22px 77.5px;
  border-radius: var(--border-radius);
  transition: .3s ease-in-out;
  &:hover {
    background-color: var(--color-river-bed-hover);
  }
}

.btn--transparent-border {
  background-color: transparent;
  padding: 16px 42px;
  border: 1px solid currentColor;
  color: var(--color-river-bed);
  font: var(--font-regular-16-16);
  transition: .3s ease-in-out;
  &:hover {
    background-color: var(--color-river-bed);
    color: var(--color-white);
  }
}

.btn--transparent {
  padding: 4px 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--color-river-bed);
    transition: .2s linear;
  }
  &:hover::before {
    width: 100%;
  }
}

.btn--rounded {
  width: 80px;
  height: 80px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-river-bed);
  border-radius: 50%;
  transition: .3s ease-in-out;
  &:hover {
    background-color: var(--color-river-bed-hover);
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.text {
  font: var(--font-book-16);
  margin: 0;
}

.text--gray {
  font: var(--font-book-16);
  color: var(--color-gray);
  line-height: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

// checkbox

// hide arrow
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  hide arrow */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    &__field {
        appearance: none;
        cursor: pointer;
        width: 24px;
        height: 24px;
        border: 1px solid var(--color-cameo);
        position: relative;
        border-radius: var(--border-radius);
        &::before {
            content: url('../img/sprite.svg#checked');
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -66%);
            opacity: 0;
            transition: all .2s linear;
        }
        &:checked::before {
            opacity: 1;
            width: 14.5px;
            height: 11.5px;
        }
    }
    &__text {
        font: var(--font-book-16);
        margin-left: 10px;
    }
}

// hidden

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.active {
  display: block !important;
  &--flex {
    display: flex !important;
  }
}

.input {
    padding: var(--second-offset);
        border-radius: var(--border-radius);
        border: none;
        display: block;
        width: 500px;
    &::placeholder {
        color: var(--color-gray);
        font: var(--font-book-16);
    }
}

.vendor-code {
  color: var(--color-gray);
  font: var(--font-book-14);
  line-height: 1;
}

/*
==================== * Modal * =====================
*/

.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 1000;
  background-color: var(--color-overlay);
}

.modal.active {
    display: flex !important;
    overflow: auto;
}

.product-size__list {
  display: flex;
  flex-wrap: wrap;
}

.product-size__btn {
  padding: 9px 25.5px;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  font: var(--font-book-14);
  line-height: 1;
  transition: .2s ease-in-out;
  &:hover {
    background-color: var(--color-gray);
    color: var(--color-white);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 37px;
  height: 37px;
  transition: .4s ease;
  svg {
    width: 100%;
    height: 100%;
  }
  &:hover {
    transform: rotate(360deg);
  }
  &:active {
    transform: translateY(5px);
  }
}
