:root {
  // цвета
  --color-black: #000;
  --color-white: #fff;
  --color-purple: #484283;
  --color-accent: #f14f4f;
  --color-accent-hover: #cc4949;
  --color-seashell-peach: #fff4ee;
  --color-cameo: #dbbba9;
  --color-river-bed: #444B58;

 // отступы
 --grid-gap: 20px;
 --main-offset: 40px;
 --second-offset: 20px;

 // шрифты
 --font-family: 'Intro', sans-serif;
 --font-bold-30: 700 30px / 140% var(--font-family); // жирность размер / высота строки
 --font-regular-16: 400 16px / 140% var(--font-family);
 --font-book-24: 300 24px / 24px var(--font-family); // жирность размер / высота строки
 --font-book-16: 300 16px / 140% var(--font-family); // жирность размер / высота строки
}
